
h1 {
  color: #82e795;
  font-family: Helvetica, 'Open Sans', Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align:center;
}
h2 {
  color: #3fb0ae;
  font-family: Helvetica, 'Open Sans', Arial, serif;
  font-size: 28px;
  font-weight: bold;
}
#logo {
  margin-top:-100px;
  display: inline-block;
  vertical-align: top;
  height: 37px;
  width: 216px;
  margin-top:0px;
}
.dropdown {
        /* Border */
        border: 5px solid #61c5bf;
        display: flex;

        /* Reset list styles */
        list-style-type: none;
        margin: 100px;
        padding: 0;
    }

    .dropdown li {
        /* Spacing */
        padding: 15px;

        /* Used to position the sub dropdown */
        position: relative;
    }

    /* The sub dropdown */
    .dropdown ul {
        /* Border */
        border: 1px solid #61c5bf;

        /* Hidden by default */
        display: none;

        /* Absolute position */
        left: 0;
        position: absolute;
        top: 100%;

        /* Reset styles */
        list-style-type: none;
        margin: 0;
        padding: 0;

        /* Width */
        width: 200px;
    }

    /* The second level sub dropdown */
    .dropdown ul ul {
        left: 100%;
        position: absolute;
        top: 0;
    }

    /* Change background color of list item when being hovered */
    .dropdown li:hover {
        background-color: #82e795;
    }

    /* Show the direct sub dropdown when hovering the list item */
    .dropdown li:hover > ul {
        display: block;
    }

.button1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: solid;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  margin: auto;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;


}
.button1:hover,
.button1:focus {
  background-color: #F082AC;
}

.button2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  display: inline-block;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  margin: auto;

}
.button2:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.button2:focus {
  background-color: #a7a7a7;
}

.button3 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 15px;
  border-color: #dadf1e;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  padding: 19px 24px;
  text-decoration: bold;
  cursor: pointer;
}
.button3:active,
.button3:hover {
  outline: 30px;
}





.button4 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);

}

.button4:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button4:hover:after {
  top: 0px;
  left: 0px;
}
