.dropdown {
        /* Border */
        border: 1px solid #61c5bf;
        display: flex;

        /* Reset list styles */
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .dropdown li {
        /* Spacing */
        padding: 15px;

        /* Used to position the sub dropdown */
        position: relative;
    }

    /* The sub dropdown */
    .dropdown ul {
        /* Border */
        border: 1px solid #61c5bf;

        /* Hidden by default */
        display: none;

        /* Absolute position */
        left: 0;
        position: absolute;
        top: 100%;

        /* Reset styles */
        list-style-type: none;
        margin: 0;
        padding: 0;

        /* Width */
        width: 200px;
    }

    /* The second level sub dropdown */
    .dropdown ul ul {
        left: 100%;
        position: absolute;
        top: 0;
    }

    /* Change background color of list item when being hovered */
    .dropdown li:hover {
        background-color: #b6ebe8;
    }

    /* Show the direct sub dropdown when hovering the list item */
    .dropdown li:hover > ul {
        display: block;
    }

  .label {
            display: flex;

            /* Rounded border */
            border-radius: 9999px;

            /* Size */
            height: 32px;
            width: 64px;

            /* OFF status */
            background-color: rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.3);

            /* ON status */
            background-color: #357edd;
            border: 1px solid #357edd;
            /* Push the circle to the right */
            justify-content: flex-end;
        }

        .label__input {
            /* Hide the input */
            display: none;
        }

        .label__circle {
            /* Rounded border */
            border-radius: 9999px;

            /* Size */
            width: 32px;

            background-color: #fff;

            /* OFF status */
            border: 1px solid rgba(0, 0, 0, 0.3);
        }


.container {
          /* Content is centered horizontally */
          align-items: center;
          display: flex;

          /* Size */
          height: 32px;
      }

      .container__left {
          height: 2px;

          /* Colors */
          background-color: rgba(0, 0, 0, 0.3);
      }

      .container__circle {
          /* Size */
          height: 32px;
          width: 32px;

          /* Rounded border */
          border-radius: 9999px;

          /* Colors */
          background-color: rgba(0, 0, 0, 0.3);
      }

      .container__right {
          /* Take the remaining width */
          flex: 1;
          height: 2px;

          /* Colors */
          background-color: rgba(0, 0, 0, 0.3);
      }
