
h1 {
  color: #82e795;
  font-family: Helvetica, 'Open Sans', Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align:center;
}
h3 {
  color: #3fb0ae;
  font-family: Helvetica, 'Open Sans', Arial, serif;
  font-size: 18px;
  font-weight: bold;
}
#logo {
  margin-top:-100px;
  display: inline-block;
  vertical-align: top;
  height: 55px;
  width: 55px;
  margin-top:0px;
}

.nav {
        /* Border */
        border: 5px groove #adadad;
        display: flex;

        /* Reset list styles */
        list-style-type: none;
        margin: 100px;
        padding: 0px;
    }

    .nav li {
        /* Spacing */
        padding: 15px 30px 10px;
        background-color: #FFF;
    }

    /* Change background color of list item when being hovered */
    .nav li:hover {
        background-color: #eaeaea;
    }

.button1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: solid;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  margin: auto;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;


}
.button1:hover,
.button1:focus {
  background-color: #F082AC;
}

.button2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  display: inline-block;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  margin: auto;

}
.button2:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.button2:focus {
  background-color: #a7a7a7;
}

.button3 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 15px;
  border-color: #dadf1e;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  padding: 19px 24px;
  text-decoration: bold;
  cursor: pointer;
}
.button3:active,
.button3:hover {
  outline: 30px;
}

.button4 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);

}
.button4:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.button4:hover:after {
  top: 0px;
  left: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}


.typography1 {
  font-size: 25px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typography2 {
  font-size: 30px;
  color: #d39191;
  text-decoration: underline;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;

}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
